<a href="https://colab.research.google.com/github/eduardoluisvieira/mackenzie/blob/main/T2_ExercicioFixacao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importar bibliotecas
import pandas as pd
import numpy as np

In [29]:
#Criando uma série
student_names = pd.Series(['Adriana','Carol','Daniel'])
age = pd.Series([18,19,19])

#Criando um Dataframe
students = pd.DataFrame({'Name':student_names,'Age': age})
students

      Name  Age
0  Adriana   18
1    Carol   19
2   Daniel   19

In [30]:
#selecionando uma coluna e calculando a média
age_series = students['Age']
print(f'Média de idades:{age_series.mean():.2f}')

Média de idades:18.67

In [31]:
# Selecionando valores de uma coluna baseado em uma condição - Somente estudantes com idade superior a 18 anos
students[students.Age > 18]

     Name  Age
1   Carol   19
2  Daniel   19

In [19]:
students.shape # número de linhas e colunas

(3, 2)

In [21]:
len(students) # número de linhas

3

In [32]:
students.columns.to_list() # nome das colunas

['Name', 'Age']

In [33]:
students.dtypes # tipo dos atributos

Name    object
Age      int64
dtype: object

In [34]:
# Informações estatísticas sumarizadas dos dados
students.describe(include = 'all')

           Name        Age
count         3   3.000000
unique        3        NaN
top     Adriana        NaN
freq          1        NaN
mean        NaN  18.666667
std         NaN   0.577350
min         NaN  18.000000
25%         NaN  18.500000
50%         NaN  19.000000
75%         NaN  19.000000
max         NaN  19.000000

In [35]:
# Realizando cálculos de uma coluna, aplicando condições (filtros)
students[students.Name == 'Carol']['Age'].mean()

19.0

In [36]:
# Realizando cálculos de uma coluna, aplicando condições (filtros)
students[students.Name == 'Carol'].Age.mean()

19.0